<div class="main-container-index">
<h1>search</h1>

<form action="/artist-search" method="GET">
    <input type="text" name="artistName">
    <button type="submit">Search for an Artist</button>
</form>

</div>